<html>
<head>
<title>Text Adveture</title>
</head>
<body>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Creator_Style.css') }}">

<div id="tree_body"></div>

<div class="bottom_bar">
    <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path transform="translate(10, 4)" fill-rule="evenodd" clip-rule="evenodd" d="M2 4C3.1 4 4 3.1 4 2C4 0.9 3.1 0 2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4ZM2 6C0.9 6 0 6.9 0 8C0 9.1 0.9 10 2 10C3.1 10 4 9.1 4 8C4 6.9 3.1 6 2 6ZM2 12C0.9 12 0 12.9 0 14C0 15.1 0.9 16 2 16C3.1 16 4 15.1 4 14C4 12.9 3.1 12 2 12Z" fill="black" fill-opacity="0.87"/>
    </svg>

    <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 8H8V4H4V8ZM10 20H14V16H10V20ZM4 20H8V16H4V20ZM4 14H8V10H4V14ZM10 14H14V10H10V14ZM16 4V8H20V4H16ZM10 8H14V4H10V8ZM16 14H20V10H16V14ZM16 20H20V16H16V20Z" fill="black" fill-opacity="0.87"/>
    </svg>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="{{url_for('static', filename='Js/Creator.js')}}"></script>
<script>
document.querySelector('body').addEventListener("keydown", TasteGedrückt );
var svg_tree = document.getElementById("svg_tree");

  function TasteGedrückt (evt) {
    switch (evt.key) {
        case "+":
            if (svg_tree.style.transform === ""){
            svg_tree.style.transform = "scale(1.1)"
            } else{
            var scale_now = parseFloat(svg_tree.style.transform.split("(")[1].split(")")[0]) + 0.1;
            svg_tree.style.transform = "scale(" + scale_now + ")"
            }
            break;
        case "-":
            if (svg_tree.style.transform === ""){
            svg_tree.style.transform = "scale(0.9)"
            } else{
            var scale_now = parseFloat(svg_tree.style.transform.split("(")[1].split(")")[0]) - 0.1;
                if (scale_now <= 0){
                    svg_tree.style.transform = "scale(0.1)"
                    } else{
                    svg_tree.style.transform = "scale(" + scale_now + ")"
                    }
            }
            break;
    }
  }
</script>
</body>
</html>