<html>
<head>
<title>Watcher</title>
</head>
<body class="center_objects">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<div class="create_game_body center_objects shadow">
    <h2 class="no_select">Create Game</h2>
    <hr>
    <input style="width: 80%;" type="text" name="fname">
    <hr style="width: 80%; margin-right: 10%; margin-top: 0;">
    <img class="pic_1 shadow" src="{{url_for('static', filename='grafik/mountains-1412683.png')}}" />
    <div>
        <h3 class="no_select">My World</h3>
        <p class="no_select">Goeethe stammte aus einer angesehenen bürgerlichen Familie; sein Großvater aft
            und war danach als Advokaoman Dsdelögkpordfjhoifdsjpohkpogfie Leiden desd jungen Werther, de
            m er sogar europäischen Erfolg verdankte.  der literarischen Strömung des Stu
            rm und Drang (1765 bis 1785) zuzuordnen. </p>
    </div>
    <div>
        <a class= "select_button button_text no_select shadow" style="font-size: 190%;">Create Game</a>
        <a class= "select_button button_text no_select shadow" style="font-size: 190%;">Select Game</a>
    </div>
</div>
<div class="JJ">
    H
</div>
</body>
</html>