@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background: #FFFFFF;
}

.center_objects{
 align-items: center;
 text-align: center;
}

.no_select{
 -ms-user-select: None;
 -moz-user-select: None;
 -webkit-user-select: None;
 user-select: None;
}

.shadow {
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
 }

.bottom_bar{
 width: 100%;
 height: 56px;
 background-color: #DDC6FA;
 position: fixed;
 bottom: 0px;
}

.icon{
 height: 60%;
 transform: translate(0,11.2px);
 margin-left: 5px;
 margin-right: 5px;
 cursor: pointer;
}

#tree_body{
 width: 100%;
 height: calc(100% - 56px);
}

.node {
 cursor: pointer;
 -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
 filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

.node text {
 font-family: 'Julius Sans One', sans-serif;
 font-size: 12px;
 -ms-user-select: None;
 -moz-user-select: None;
 -webkit-user-select: None;
 user-select: None;
}

.link {
 fill: none;
 stroke: #ccc;
 stroke-width: 2px;
}

.popup{
 width: 80%;
 position: fixed;
 height: 80%;
 background-color: white;
 border-radius: 8px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 z-index: 20;
}

#delete_alert{
 width: 100%;
 position: fixed;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.6);
 z-index: 10;
}

.story_typ_button{
 height: 100%;
 width: calc(100% / 5);
 border-width: 1px;
 border-style: solid;
 border-color: #999;
 margin: 0px;
 padding: 0px;
 background-color: #fff;
 border-width: 1px;
 border-style: solid;
 border-color: #000;
 font-family: 'Julius Sans One', sans-serif;
 border-right: none;
}

@keyframes circle{
0%{
fill-opacity: 0;
visibility: unset;
}
100%{
fill-opacity: 1;
}
}

@keyframes circle_del{
0%{
visibility: unset;
fill-opacity: 1;
}
100%{
fill-opacity: 0;
visibility: hidden;
}
}

.node:hover > .circle_animation {
 fill-opacity: 1;
 visibility: unset;
 animation: 2s ease 0s 1 normal forwards running circle;
}

.circle_animation {
 visibility: hidden;
 fill-opacity: 0;
 animation: 2s ease 0s 1 normal forwards running circle_del;
 }

.story_settings {
 display: flex;
 flex-direction: row;
 height: 96%;
 margin: 5px;
 margin-bottom: 2%;
 margin-top: 2%;
}

.story_settings_Frame{
 display: flex;
 flex-direction: column;
 height: 100%;
}

.title_input{
 margin: 5px;
 width: calc(100% - 10px);
 padding: 3px;
 font-size: 45px;
}

.story_input{
 height: 50%;
 margin: 5px;
 width: calc(100% - 10px);
 padding: 3px;
 resize: none;
 font-size: 20px;
}

.extra_settings{
 margin: 5px;
 height: calc(50% - 43px);
 border-width: 1px;
 border-style: solid;
 border-color: #999;
}

textarea:focus, input:focus{
    outline: 0;
    outline: none;
    -moz-appearance:none;
    outline:0px none transparent;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

textarea, input{
 border-width: 1px;
 border-style: solid;
 border-color: #999;
 font-family: 'Julius Sans One', sans-serif;
 color: #444444;
}