body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background: #FFFFFF;
}

h2{
 font-family: Julius Sans One;
 font-size: 100%;
 margin: 5px;
}

h3{
 font-family: Julius Sans One;
 font-size: 100%;
 margin: 5px;
 color: rgba(123, 97, 255, 0.81);
 text-decoration-line: underline;
}

p{
 font-family: Julius Sans One;
 font-size: 100%;
 margin: 5px;
 color: rgba(123, 97, 255, 0.81);
}

.center_objects{
 align-items: center;
 text-align: center;
}

.button_text{
 font-family: Julius Sans One;
 font-style: normal;
 font-weight: normal;
 font-size: 72px;
 line-height: 100px;
 text-align: center;
 color: #7B61FF;
}

.no_select{
 -ms-user-select: None;
 -moz-user-select: None;
 -webkit-user-select: None;
 user-select: None;
}

.grid_start{
 position: fixed;
 top: 50%;

 width: 100%;
 min-width: 500px;

 display: flex;
 flex-direction: column;
 align-items: center;

 height: 335px;
 color: rgba(123, 97, 255, 0.81);
}

.start_button {
 text-decoration: none;
 width: 35%;
 height: 100px;
 margin: 5px;

 background: #FFFFFF;
 border: 1px solid #E0E0EC;
 box-sizing: border-box;
 border-radius: 157.75px;
}

.load_game_body{
 margin: 10%;
 width: 80%;
}

.create_game_body {
 margin: 10%;
 width: 80%;
 height: auto;
}

.pic_1 {
object-fit: fill;
border-radius: 8px;
width: 94%;
height: 20%;
margin: 3%;
}

.pic_2 {
border-radius: 8px;
width: 32%;
height: 200px;
margin: 3%;
}

.shadow {
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
 }

.select_button{
 text-decoration: none;
 width: 44%;
 height: 100%;
 margin: 3%;

 background: #FFFFFF;
 border: 1px solid #E0E0EC;
 box-sizing: border-box;
 border-radius: 157.75px;
}

.template_body{
display: flex;
flex-direction: row;
}

.template_text{
 display: flex;
 flex-direction: column;
 width: 62%;
}

.button_load_delete{
 display: flex;
 flex-direction: row;
 border: 1px solid #000000;
 box-sizing: border-box;
 box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
 width: 30%;
 align-items: center;
 text-align: center;
}

.button_load_delete_text{
 font-family: Julius Sans One;
 font-size: 100%;
 margin: 5px;
}