@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background: #FFFFFF;
display: flex;
}

h3{
 font-family: 'Julius Sans One', sans-serif;
 font-size: 100%;
 margin: 5px;
 color: rgba(123, 97, 255, 0.81);
 text-decoration-line: underline;
}

h4{
 font-family: 'Julius Sans One', sans-serif;
 font-size: 100%;
 height: 20px;
 color: rgba(123, 97, 255, 0.81);
 margin: 0px;
}

p{
 font-family: 'Julius Sans One', sans-serif;
 font-size: 100%;
 margin: 5px;
 color: rgba(123, 97, 255, 0.81);
}

input {
 width: 80%;
 height: 23px;
 border: none;
 margin-top: 3%;

 font-family: 'Julius Sans One', sans-serif;
 font-size: 23px;
 color: #444444;
 }

input:focus-visible {
 outline-width: 0;
 outline: none;
}

.create_game_title{
 width: 90%;
 margin: 5%;
 margin-bottom: 3%;
}

.center_objects{
 align-items: center;
 text-align: center;
}

.button_text{
 font-family: 'Julius Sans One', sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 72px;
 line-height: 100px;
 text-align: center;
 color: #7B61FF;
}

.no_select{
 -ms-user-select: None;
 -moz-user-select: None;
 -webkit-user-select: None;
 user-select: None;
}

.load_game_body{
 margin: 7.5%;
 width: 35%;
 height: 99%;
 overflow-y: scroll;
 background: #FFFFFF;
 border: 1px solid rgba(0, 0, 0, 0.25);
 box-sizing: border-box;
 scrollbar-width:  thin;
}

.create_game_body {
 margin: 7.5%;
 height: 80%;
 width: 30%;
}

.pic_1 {
border-radius: 8px;
width: 94%;
margin: 3%;
margin-top: 6%;
}

.pic_2 {
 object-fit: fill;
 border-radius: 8px;
 width: 32%;
 height: 200px;
 margin: 3%;
 margin-top: 20px;
 margin-bottom: 20px;
}

.shadow {
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
 }

.select_button{
 text-decoration: none;
 width: 44%;
 height: 100%;
 margin: 3%;

 background: #FFFFFF;
 border: 1px solid #E0E0EC;
 box-sizing: border-box;
 border-radius: 157.75px;
}

.template_body{
 width: calc(100% - 40px);
 display: flex;
 flex-direction: row;
 height: 240px;
 margin-top: 40px;
 margin-left: 20px;
 margin-right: 20px;
}

.template_text{
 display: flex;
 position: relative;
 flex-direction: column;
 width: 62%;
}

.button_load_delete{
 display: flex;
 flex-direction: row;
 border: 1px solid #000000;
 box-sizing: border-box;
 box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
 width: 30%;
 align-items: center;
 text-align: center;
 cursor: pointer;
}

.button_load_delete_text{
 font-family: 'Julius Sans One', sans-serif;
 font-size: 100%;
 margin: 5px;
}

.load_delete_div{
 display: flex;
 margin-bottom: 20px;
 height: 30px;
}

.info_text{
 font-family: 'Julius Sans One', sans-serif;
 font-size: 100%;
 height: 150px;
 color: rgba(123, 97, 255, 0.81);
 margin: 0px;
 margin-top: 10px;
 margin-bottom: 10px;
 line-height: 40px;
}

.popup{
 width: 360px;
 position: fixed;
 height: 112px;
 background-color: white;
 border-radius: 8px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 z-index: 20;
}

#delete_alert{
 width: 100%;
 position: fixed;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.6);
 z-index: 10;
}

.delete_button{
 width: 69px;
 height: 36px;
 position: absolute;
 bottom: 7px;
 text-align: center;
 font-family: 'Julius Sans One', sans-serif;
 font-size: 16;
 line-height: 200%;
 cursor: pointer;
 background: white;
 border: none;
 padding: 0px;
}

.popup_delete_text{
    width: 260px;
    height: 56px;
    position: absolute;
    bottom: 44px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    left: 50px;
}
}